@font-face {
  font-family: "Montserrat-regular";
  src: url("../fonts/Montserrat-regular.woff") format("woff");
}
@font-face {
  font-family: "gooddogcool";
  src: url("../fonts/gooddogcool.woff") format("woff");
}
@font-face {
  font-family: "Montserratlight";
  src: url("../fonts/Montserratlight.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-bold.woff") format("woff");
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.woff") format("woff");
}
body {
  width: 100% !important;
  margin: 0 auto !important;
  overflow-x: hidden !important;
  position: relative;
}
#menu,
#events,
#contact,
#welcome {
  -webkit-transition: 6s !important;
  transition: 6s !important;
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.container-fluid {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding: 0px !important;
}
.container-fluid .container {
  max-width: 1500px;
  height: 3000px !important;
  margin: 0 auto;
  position: relative;
  padding: 0px !important;
  background-color: #212121;
}
.container .header {
  height: 850px;
  margin: 0 auto !important;
  background-image: url("../images/headersushfon.jpg");
  background-size: 100% 68.27%;
  background-repeat: no-repeat;
  position: fixed !important;
  width: 100%;
  max-width: inherit;
}
.menu img {
  display: none !important;
}
.menu ul {
  text-align: right !important;
}
.menu ul li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.menu ul li a {
  padding: 3px 12px;
  text-decoration: none;
  color: #9aae70;
  line-height: 200%;
  outline: none !important;
  font-family: Montserrat-regular;
  font-size: 35.02px;
}
.menu ul li a:hover {
  color: green;
}
a {
  outline: none !important;
}
.logo {
  position: relative;
  top: 60px !important;
}
.logo .col-md-5 h2 {
  margin-top: 50px !important;
  font-size: 56.8px;
  font-family: Montserrat-regular;
  color: #90a16b;
}
.logo .col-md-5 h1 {
  font-size: 78.25px;
  font-family: Montserrat-bold;
  color: #90a16b;
}
.logo .col-md-5 h3 a {
  font-size: 49.17px;
  font-family: Montserrat-regular;
  color: #afc67b;
  outline: none !important;
  text-decoration: none !important;
  border: 1px solid transparent;
  padding: 5px !important;
  background: #494e3e;
  opacity: 0.6;
}
.main {
  max-width: 1500px !important;
  height: auto;
  overflow-x: hidden !important;
}
.main .newopening {
  text-align: center !important;
  margin: 0 auto !important;
  position: relative;
  top: 580px;
  height: 500px !important;
  background-size: 40% !important;
  background: url("../images/transparentleaves-3.png");
  background-position: left 0px top 500px !important;
  background-repeat: repeat;
}
.main .newopening .arttextsush {
  margin-top: 120px !important;
}
.main .newopening .arttextsush h4 {
  color: #afc67b;
  font-size: 29.17px;
  font-family: gooddogcool;
}
.main .newopening .arttextsush p {
  font-size: 18.75px;
  color: #dfdfdf;
  font-family: Montserratlight;
}
.main .newopening .col-md-6 img {
  position: absolute;
  left: 0px !important;
}
.artsush {
  position: relative;
  top: 780px;
  width: 100% !important;
  margin: 0 auto !important;
  background-color: #45493b;
  padding-bottom: 52px !important;
  padding-top: 52px !important;
}
.artsush .col-md-4 {
  text-align: left !important;
  padding: 0px 90px!important;
}
.artsush .col-md-4 h5 {
  color: #e8e8e8;
  font-size: 25px;
  font-family: gooddogcool;
}
.artsush .col-md-4 p {
  color: #c6c6c5;
  font-size: 16.62px;
  font-family: Montserratlight;
  line-height: 18px !important;
}
.toyouplate {
  position: relative;
  top: 860px !important;
  background-size: 40% !important;
  background: url("../images/transparentleaves-3.png");
  background-position: left 0px top 750px !important;
  background-repeat: repeat;
}
.toyouplate .row .title {
  background-color: #45493b;
}
.toyouplate .row .title h1 {
  text-align: center !important;
  font-size: 41.87px;
  color: #e8e8e8;
  font-family: Montserratlight;
}
.toyouplate .row .title h3 {
  text-align: center !important;
  font-size: 45.56px;
  font-family: gooddogcool;
  color: #afc67b;
}
.toyouplate .row .col-md-2 {
  text-align: center !important;
  padding: 0 !important;
}
.toyouplate .row .toyouplatetext {
  margin-top: 40px !important;
}
.toyouplate .blockfoncolor {
  background-color: #45493b;
  line-height: 25px !important;
}
.toyouplate .blockfoncolor h6 {
  color: #afc67b;
  font-family: gooddogcool;
  font-size: 29.17px;
}
.toyouplate .blockfoncolor p {
  color: #b2b3b0;
  font-size: 16.67px;
  font-family: MyriadProRegular;
}
.toyouplate .blockfoncolor b {
  font-family: gooddogcool;
  font-size: 25px;
  color: #e8e8e8;
  font-weight: 300;
}
.toyouplate .col-md-2 img:hover {
  background: green;
  opacity: 0.3 !important;
}
.thingssimle {
  position: relative;
  top: 945px !important;
  width: 100% !important;
  margin: 0 auto !important;
  background-color: #3e4136 !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.thingssimle .col-8 {
  text-align: center !important;
  background-size: 65% !important;
  background: url("../images/transparentleaves-4.png");
  background-position: left 90px bottom 30px !important;
  background-repeat: repeat;
}
.thingssimle .col-8 h4 {
  font-size: 41.71px;
  font-family: gooddogcool;
  color: #afc67b;
}
.thingssimle .col-8 p {
  font-size: 20.85px;
  font-family: MyriadProRegular;
  color: #dcdcdb;
}
.thingssimle .row {
  background-size: 70% !important;
  background: url("../images/transparentleaves-4.png");
  background-position: left 0px top 500px !important;
  background-repeat: repeat;
}
.fondiscover {
  height: 1550px;
  margin: 0 auto !important;
  width: 100% !important;
  background-image: url("../images/contentsushfon-1.jpg");
  background-size: 100%  100%;
  background-repeat: no-repeat;
  position: relative !important;
  top: 945px !important;
}
.ournewmenu {
  height: 1000px !important;
  width: 100% !important;
  margin: 0 auto !important;
  position: relative;
  bottom: 400px !important;
  background-color: #3e4136;
}
.ournewmenu .col-4 h2 {
  font-size: 70.83px;
  color: #e5e5e5;
  font-family: gooddogcool;
  text-align: center !important;
}
.ournewmenu .col-4 h1 {
  color: #e5e5e5;
  font-size: 45.83px;
  font-family: Montserrat-regular;
  text-align: center !important;
}
.foodmenu {
  padding-top: 80px !important;
}
.foodmenu .col {
  text-align: left !important;
  margin: 0 90px !important;
  position: relative;
  bottom: 1220px !important;
}
.foodmenu .col a img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipV;
          filter: FlipV;
  -webkit-transition: 0.94s !important;
  transition: 0.94s !important;
  opacity: 0.17 !important;
}
.foodmenu .col h6 {
  color: #e5e5e5;
  font-size: 25px;
  font-family: gooddogcool;
}
.foodmenu .col p {
  color: #e5e5e5;
  font-size: 16px;
  font-family: Montserratlight;
}
.foodmenu .col p b {
  color: #242424;
  font-size: 26px;
  font-family: gooddogcool;
}
.foodmenu .col img {
  float: left !important;
  margin-right: 20px !important;
}
.blokbook {
  text-align: center !important;
  background: #212121 !important;
  height: 570px !important;
  position: relative;
  bottom: 660px !important;
}
.blokbook .customerorder {
  position: relative;
  top: -10px !important;
}
.blokbook .customerorder form {
  margin: 0 auto !important;
}
.blokbook .customerorder form .row .col-md-4 {
  padding-top: 40px !important;
}
.blokbook .customerorder form .row .col-md-4 .dropdown {
  background: transparent !important;
}
.blokbook .customerorder form .row .col-md-4 .dropdown .dropdown-toggle {
  width: 176px !important;
  background: transparent !important;
}
.blokbook .customerorder form .dropdown-menu .dropdown-item {
  background: transparent !important;
}
.blokbook .customerorder form .col-md-12 {
  padding-top: 40px !important;
}
.blokbook .customerorder form input {
  background-color: transparent !important;
  text-align: center !important;
  color: #e8e8e8 !important;
  width: 176px !important;
  border: 1px solid #c6c6c5 !important;
  border-radius: 3px 3px !important;
}
.fonsushimage {
  position: relative;
  bottom: 700px;
  height: 1000px !important;
  background: url("../images/contentsushfon-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.menu-2 {
  position: relative;
  bottom: 705px !important;
}
.menu-2 h2 {
  color: #afc67b !important;
}
.cardsush {
  position: relative;
  bottom: 1420px !important;
}
.cardsush .col-md .card {
  border: 0.4px solid transparent !important;
}
.cardsush .col-md .card .card-body b {
  text-align: left !important;
}
.cardsush .col-md .card .card-body a {
  text-decoration: none !important;
  border-bottom: 7px solid #afc67b;
  font-size: 14px;
  font-family: Montserrat-bold;
  color: #555555;
}
.cardsush .col-md .card:hover {
  background: #7e8c7d;
  -webkit-transition: 0.85s !important;
  transition: 0.85s !important;
}
.cardsush .col-md a:hover {
  border-bottom: 7px solid #3b694c !important;
  -webkit-transition: 0.94s !important;
  transition: 0.94s !important;
  color: #e1e3e2 !important;
}
.footer {
  height: 0% !important;
}
.footer .footertitle {
  position: relative;
  bottom: 1220px !important;
  height: 800px !important;
}
.footer .footertitle .col-md-12 {
  max-width: 1500px !important;
  margin: 0 auto !important;
  padding-top: 100px !important;
  text-align: center !important;
  background-color: #212121;
  height: 800px !important;
}
.footer .footertitle .col-md-12 p {
  font-family: Montserrat-regular;
  font-size: 18.75px;
  color: #aac078;
}
.footer .footertitle .col-md-12 h3 {
  font-size: 29.17px;
  color: #aac078;
  font-family: gooddogcool;
}
.socialfooter {
  text-align: center !important;
  position: relative;
  bottom: 1670px !important;
}
.footerabout {
  position: relative;
  bottom: 1270px !important;
  background-color: #33362f;
  width: 100% !important;
  margin: 0 auto !important;
}
.footerabout .col-md-4 {
  margin-left: 10px !important;
  padding-top: 130px !important;
  padding-bottom: 130px !important;
}
.footerabout .col-md-4 h2 {
  color: #e7e7e7;
  font-family: Montserrat-bold;
  font-size: 25px;
}
.footerabout .col-md-4 p {
  font-size: 18.75px;
  color: #e7e7e7;
  font-family: Montserrat-regular;
}
.footerabout .col-md-2 {
  margin-left: 10px !important;
  padding-top: 130px !important;
  padding-bottom: 130px !important;
}
.footerabout .col-md-2 h2 {
  color: #e7e7e7;
  font-family: Montserrat-bold;
  font-size: 20.83px;
}
.footerabout .col-md-2 h3 {
  font-size: 18.75px;
  color: #e7e7e7;
  font-family: Montserrat-bold;
}
@media screen and (min-width: 1026px) and (max-width: 1500px) {
  body {
    width: 100% !important;
    margin: 0 auto !important;
    overflow-x: hidden !important;
    position: relative;
  }
  #menu,
  #events,
  #contact,
  #welcome {
    -webkit-transition: 6s !important;
    transition: 6s !important;
  }
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding: 0px !important;
  }
  .container-fluid .container {
    max-width: 1500px;
    height: 3000px !important;
    margin: 0 auto;
    position: relative;
    padding: 0px !important;
    background-color: #212121;
  }
  .container .header {
    height: 850px;
    margin: 0 auto !important;
    background-image: url("../images/headersushfon.jpg");
    background-size: 100% 68.27%;
    background-repeat: no-repeat;
    position: fixed !important;
    width: 100%;
    max-width: inherit;
  }
  .menu img {
    display: none !important;
  }
  .menu ul {
    text-align: right !important;
  }
  .menu ul li {
    margin: 0 5px 10px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  .menu ul li a {
    padding: 3px 12px;
    text-decoration: none;
    color: #9aae70;
    line-height: 200%;
    outline: none !important;
    font-family: Montserrat-regular;
    font-size: 35.02px;
  }
  .menu ul li a:hover {
    color: green;
  }
  a {
    outline: none !important;
  }
  .logo {
    position: relative;
    top: 60px !important;
  }
  .logo .col-md-5 h2 {
    margin-top: 50px !important;
    font-size: 56.8px;
    font-family: Montserrat-regular;
    color: #90a16b;
  }
  .logo .col-md-5 h1 {
    font-size: 78.25px;
    font-family: Montserrat-bold;
    color: #90a16b;
  }
  .logo .col-md-5 h3 a {
    font-size: 49.17px;
    font-family: Montserrat-regular;
    color: #afc67b;
    outline: none !important;
    text-decoration: none !important;
    border: 1px solid transparent;
    padding: 5px !important;
    background: #494e3e;
    opacity: 0.6;
  }
  .main {
    max-width: 1500px !important;
    height: auto;
    overflow-x: hidden !important;
  }
  .main .newopening {
    text-align: center !important;
    margin: 0 auto !important;
    position: relative;
    top: 580px;
    height: 500px !important;
    background-size: 40% !important;
    background: url("../images/transparentleaves-3.png");
    background-position: left 0px top 500px !important;
    background-repeat: repeat;
  }
  .main .newopening .arttextsush {
    margin-top: 120px !important;
  }
  .main .newopening .arttextsush h4 {
    color: #afc67b;
    font-size: 29.17px;
    font-family: gooddogcool;
  }
  .main .newopening .arttextsush p {
    font-size: 18.75px;
    color: #dfdfdf;
    font-family: Montserratlight;
  }
  .main .newopening .col-md-6 img {
    position: absolute;
    left: 0px !important;
  }
  .artsush {
    position: relative;
    top: 780px;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #45493b;
    padding-bottom: 52px !important;
    padding-top: 52px !important;
  }
  .artsush .col-md-4 {
    text-align: left !important;
    padding: 0px 90px!important;
  }
  .artsush .col-md-4 h5 {
    color: #e8e8e8;
    font-size: 25px;
    font-family: gooddogcool;
  }
  .artsush .col-md-4 p {
    color: #c6c6c5;
    font-size: 16.62px;
    font-family: Montserratlight;
    line-height: 18px !important;
  }
  .toyouplate {
    position: relative;
    top: 860px !important;
    background-size: 40% !important;
    background: url("../images/transparentleaves-3.png");
    background-position: left 0px top 750px !important;
    background-repeat: repeat;
  }
  .toyouplate .row .title {
    background-color: #45493b;
  }
  .toyouplate .row .title h1 {
    text-align: center !important;
    font-size: 41.87px;
    color: #e8e8e8;
    font-family: Montserratlight;
  }
  .toyouplate .row .title h3 {
    text-align: center !important;
    font-size: 45.56px;
    font-family: gooddogcool;
    color: #afc67b;
  }
  .toyouplate .row .col-md-2 {
    text-align: center !important;
    padding: 0 !important;
  }
  .toyouplate .row .toyouplatetext {
    margin-top: 40px !important;
  }
  .toyouplate .blockfoncolor {
    background-color: #45493b;
    line-height: 25px !important;
  }
  .toyouplate .blockfoncolor h6 {
    color: #afc67b;
    font-family: gooddogcool;
    font-size: 29.17px;
  }
  .toyouplate .blockfoncolor p {
    color: #b2b3b0;
    font-size: 16.67px;
    font-family: MyriadProRegular;
  }
  .toyouplate .blockfoncolor b {
    font-family: gooddogcool;
    font-size: 25px;
    color: #e8e8e8;
    font-weight: 300;
  }
  .toyouplate .col-md-2 img:hover {
    background: green;
    opacity: 0.3 !important;
  }
  .thingssimle {
    position: relative;
    top: 945px !important;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #3e4136 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .thingssimle .col-8 {
    text-align: center !important;
    background-size: 65% !important;
    background: url("../images/transparentleaves-4.png");
    background-position: left 90px bottom 30px !important;
    background-repeat: repeat;
  }
  .thingssimle .col-8 h4 {
    font-size: 41.71px;
    font-family: gooddogcool;
    color: #afc67b;
  }
  .thingssimle .col-8 p {
    font-size: 20.85px;
    font-family: MyriadProRegular;
    color: #dcdcdb;
  }
  .thingssimle .row {
    background-size: 70% !important;
    background: url("../images/transparentleaves-4.png");
    background-position: left 0px top 500px !important;
    background-repeat: repeat;
  }
  .fondiscover {
    height: 1550px;
    margin: 0 auto !important;
    width: 100% !important;
    background-image: url("../images/contentsushfon-1.jpg");
    background-size: 100%  100%;
    background-repeat: no-repeat;
    position: relative !important;
    top: 945px !important;
  }
  .ournewmenu {
    height: 1000px !important;
    width: 100% !important;
    margin: 0 auto !important;
    position: relative;
    bottom: 400px !important;
    background-color: #3e4136;
  }
  .ournewmenu .col-4 h2 {
    font-size: 70.83px;
    color: #e5e5e5;
    font-family: gooddogcool;
    text-align: center !important;
  }
  .ournewmenu .col-4 h1 {
    color: #e5e5e5;
    font-size: 45.83px;
    font-family: Montserrat-regular;
    text-align: center !important;
  }
  .foodmenu {
    padding-top: 80px !important;
  }
  .foodmenu .col {
    text-align: left !important;
    margin: 0 90px !important;
    position: relative;
    bottom: 1220px !important;
  }
  .foodmenu .col a img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipV;
            filter: FlipV;
    -webkit-transition: 0.94s !important;
    transition: 0.94s !important;
    opacity: 0.17 !important;
  }
  .foodmenu .col h6 {
    color: #e5e5e5;
    font-size: 25px;
    font-family: gooddogcool;
  }
  .foodmenu .col p {
    color: #e5e5e5;
    font-size: 16px;
    font-family: Montserratlight;
  }
  .foodmenu .col p b {
    color: #242424;
    font-size: 26px;
    font-family: gooddogcool;
  }
  .foodmenu .col img {
    float: left !important;
    margin-right: 20px !important;
  }
  .blokbook {
    text-align: center !important;
    background: #212121 !important;
    height: 570px !important;
    position: relative;
    bottom: 660px !important;
  }
  .blokbook .customerorder {
    position: relative;
    top: -10px !important;
  }
  .blokbook .customerorder form {
    margin: 0 auto !important;
  }
  .blokbook .customerorder form .row .col-md-4 {
    padding-top: 40px !important;
  }
  .blokbook .customerorder form .row .col-md-4 .dropdown {
    background: transparent !important;
  }
  .blokbook .customerorder form .row .col-md-4 .dropdown .dropdown-toggle {
    width: 176px !important;
    background: transparent !important;
  }
  .blokbook .customerorder form .dropdown-menu .dropdown-item {
    background: transparent !important;
  }
  .blokbook .customerorder form .col-md-12 {
    padding-top: 40px !important;
  }
  .blokbook .customerorder form input {
    background-color: transparent !important;
    text-align: center !important;
    color: #e8e8e8 !important;
    width: 176px !important;
    border: 1px solid #c6c6c5 !important;
    border-radius: 3px 3px !important;
  }
  .fonsushimage {
    position: relative;
    bottom: 690px;
    height: 1000px !important;
    background: url("../images/contentsushfon-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .menu-2 {
    position: relative;
    bottom: 694px !important;
    height: 730px !important;
  }
  .menu-2 h2 {
    color: #afc67b !important;
  }
  .cardsush {
    position: relative;
    bottom: 1242px !important;
  }
  .cardsush .col-md .card {
    border: 0.4px solid transparent !important;
  }
  .cardsush .col-md .card .card-body b {
    text-align: left !important;
  }
  .cardsush .col-md .card .card-body a {
    text-decoration: none !important;
    border-bottom: 7px solid #afc67b;
    font-size: 14px;
    font-family: Montserrat-bold;
    color: #555555;
  }
  .cardsush .col-md .card:hover {
    background: #7e8c7d;
    -webkit-transition: 0.85s !important;
    transition: 0.85s !important;
  }
  .cardsush .col-md a:hover {
    border-bottom: 7px solid #3b694c !important;
    -webkit-transition: 0.94s !important;
    transition: 0.94s !important;
    color: #e1e3e2 !important;
  }
  .footer {
    height: 0% !important;
  }
  .footer .footertitle {
    position: relative;
    bottom: 1220px !important;
    height: 800px !important;
  }
  .footer .footertitle .col-md-12 {
    max-width: 1500px !important;
    margin: 0 auto !important;
    padding-top: 100px !important;
    text-align: center !important;
    background-color: #212121;
    height: 800px !important;
  }
  .footer .footertitle .col-md-12 p {
    font-family: Montserrat-regular;
    font-size: 18.75px;
    color: #aac078;
  }
  .footer .footertitle .col-md-12 h3 {
    font-size: 29.17px;
    color: #aac078;
    font-family: gooddogcool;
  }
  .socialfooter {
    text-align: center !important;
    position: relative;
    bottom: 1670px !important;
  }
  .footerabout {
    position: relative;
    bottom: 1270px !important;
    background-color: #33362f;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .footerabout .col-md-4 {
    margin-left: 10px !important;
    padding-top: 130px !important;
    padding-bottom: 130px !important;
  }
  .footerabout .col-md-4 h2 {
    color: #e7e7e7;
    font-family: Montserrat-bold;
    font-size: 25px;
  }
  .footerabout .col-md-4 p {
    font-size: 18.75px;
    color: #e7e7e7;
    font-family: Montserrat-regular;
  }
  .footerabout .col-md-2 {
    margin-left: 10px !important;
    padding-top: 130px !important;
    padding-bottom: 130px !important;
  }
  .footerabout .col-md-2 h2 {
    color: #e7e7e7;
    font-family: Montserrat-bold;
    font-size: 20.83px;
  }
  .footerabout .col-md-2 h3 {
    font-size: 18.75px;
    color: #e7e7e7;
    font-family: Montserrat-bold;
  }
}
@media screen and (min-width: 769px) and (max-width: 1025px) {
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  a {
    outline: none !important;
  }
  .container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding: 0px !important;
  }
  .container-fluid .container {
    max-width: 1500px;
    height: 3000px !important;
    margin: 0 auto;
    position: relative;
    padding: 0px !important;
    background-color: #212121;
  }
  .container .header {
    height: 850px;
    margin: 0 auto !important;
    background-image: url("../images/headersushfon.jpg");
    background-size: 100% 68.27%;
    background-repeat: no-repeat;
    position: fixed !important;
    width: 100%;
    max-width: inherit;
  }
  .menu img {
    display: none !important;
  }
  .menu ul {
    text-align: right !important;
  }
  .menu ul li {
    margin: 0 5px 10px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  .menu ul li a {
    padding: 3px 12px;
    text-decoration: none;
    color: #9aae70;
    line-height: 200%;
    outline: none !important;
    font-family: Montserrat-regular;
    font-size: 35.02px;
  }
  .menu ul li a:hover {
    color: green;
  }
  .logo {
    position: relative;
    top: 0px !important;
  }
  .logo .col-md-5 h2 {
    margin-top: 0px !important;
    font-size: 46.8px;
    font-family: Montserrat-regular;
    color: #90a16b;
  }
  .logo .col-md-5 h1 {
    font-size: 78.25px;
    font-family: Montserrat-bold;
    color: #90a16b;
  }
  .logo .col-md-5 h3 a {
    font-size: 49.17px;
    font-family: Montserrat-regular;
    color: #afc67b;
    outline: none !important;
    text-decoration: none !important;
    border: 1px solid transparent;
    padding: 5px !important;
    z-index: 3 !important;
    background: #494e3e;
    opacity: 0.6;
  }
  .main {
    max-width: 1500px !important;
    height: auto;
  }
  .main .newopening {
    text-align: center !important;
    margin: 0 auto !important;
    position: relative;
    top: 580px;
    height: 500px !important;
    background-size: 40% !important;
    background: url("../images/transparentleaves-3.png");
    background-position: left 0px top 500px !important;
    background-repeat: repeat;
  }
  .main .newopening .arttextsush {
    margin-top: 120px !important;
  }
  .main .newopening .arttextsush h4 {
    color: #afc67b;
    font-size: 29.17px;
    font-family: gooddogcool;
  }
  .main .newopening .arttextsush p {
    font-size: 18.75px;
    color: #dfdfdf;
    font-family: Montserratlight;
  }
  .main .newopening .col-md-6 img {
    position: absolute;
    left: 0px !important;
  }
  .artsush {
    position: relative;
    top: 780px;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #45493b;
    padding-bottom: 52px !important;
    padding-top: 52px !important;
  }
  .artsush .col-md-4 {
    text-align: left !important;
    padding: 0px 90px!important;
  }
  .artsush .col-md-4 h5 {
    color: #e8e8e8;
    font-size: 25px;
    font-family: gooddogcool;
  }
  .artsush .col-md-4 p {
    color: #c6c6c5;
    font-size: 16.62px;
    font-family: Montserratlight;
    line-height: 18px !important;
  }
  .toyouplate {
    position: relative;
    top: 860px !important;
    background-size: 40% !important;
    background: url("../images/transparentleaves-3.png");
    background-position: left 0px top 750px !important;
    background-repeat: repeat;
  }
  .toyouplate .row .title {
    background-color: #45493b;
  }
  .toyouplate .row .title h1 {
    text-align: center !important;
    font-size: 41.87px;
    color: #e8e8e8;
    font-family: Montserratlight;
  }
  .toyouplate .row .title h3 {
    text-align: center !important;
    font-size: 45.56px;
    font-family: gooddogcool;
    color: #afc67b;
  }
  .toyouplate .row .col-md-2 {
    text-align: center !important;
    padding: 0 !important;
  }
  .toyouplate .row .toyouplatetext {
    margin-top: 40px !important;
  }
  .toyouplate .blockfoncolor {
    background-color: #45493b;
    line-height: 25px !important;
  }
  .toyouplate .blockfoncolor h6 {
    color: #afc67b;
    font-family: gooddogcool;
    font-size: 29.17px;
  }
  .toyouplate .blockfoncolor p {
    color: #b2b3b0;
    font-size: 16.67px;
    font-family: MyriadProRegular;
  }
  .toyouplate .blockfoncolor b {
    font-family: gooddogcool;
    font-size: 25px;
    color: #e8e8e8;
    font-weight: 300;
  }
  .toyouplate .col-md-2 img:hover {
    background: green;
    opacity: 0.3 !important;
  }
  .thingssimle {
    position: relative;
    top: 945px !important;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #3e4136 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .thingssimle .col-4 {
    text-align: center !important;
    background-size: 65% !important;
    background: url("../images/transparentleaves-4.png");
    background-position: left 90px bottom 30px !important;
    background-repeat: repeat;
  }
  .thingssimle .col-4 h4 {
    font-size: 41.71px;
    font-family: gooddogcool;
    color: #afc67b;
  }
  .thingssimle .col-4 p {
    font-size: 20.85px;
    font-family: MyriadProRegular;
    color: #dcdcdb;
  }
  .thingssimle .row {
    background-size: 70% !important;
    background: url("../images/transparentleaves-4.png");
    background-position: left 0px top 500px !important;
    background-repeat: repeat;
  }
  .fondiscover {
    height: 1550px;
    margin: 0 auto !important;
    width: 100% !important;
    background-image: url("../images/contentsushfon-1.jpg");
    background-size: 100%  100%;
    background-repeat: no-repeat;
    position: relative !important;
    top: 905px !important;
  }
  .ournewmenu {
    height: 1000px !important;
    width: 100% !important;
    margin: 0 auto !important;
    position: relative;
    bottom: 400px !important;
    background-color: #3e4136;
  }
  .ournewmenu .col-4 h2 {
    font-size: 70.83px;
    color: #e5e5e5;
    font-family: gooddogcool;
    text-align: center !important;
  }
  .ournewmenu .col-4 h1 {
    color: #e5e5e5;
    font-size: 45.83px;
    font-family: Montserrat-regular;
    text-align: center !important;
  }
  .foodmenu {
    padding-top: 80px !important;
  }
  .foodmenu .col {
    text-align: left !important;
    margin: 0 90px !important;
    position: relative;
    bottom: 1220px !important;
  }
  .foodmenu .col a img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipV;
            filter: FlipV;
    -webkit-transition: 0.94s !important;
    transition: 0.94s !important;
    opacity: 0.17 !important;
  }
  .foodmenu .col h6 {
    color: #e5e5e5;
    font-size: 25px;
    font-family: gooddogcool;
  }
  .foodmenu .col p {
    color: #e5e5e5;
    font-size: 16px;
    font-family: Montserratlight;
  }
  .foodmenu .col p b {
    color: #242424;
    font-size: 26px;
    font-family: gooddogcool;
  }
  .foodmenu .col img {
    float: left !important;
    margin-right: 20px !important;
  }
  .blokbook {
    margin-top: -160px !important;
    text-align: center !important;
    background: #212121 !important;
    height: 570px !important;
    position: relative;
    bottom: 660px !important;
  }
  .blokbook .customerorder {
    position: relative;
    top: -10px !important;
  }
  .blokbook .customerorder form {
    margin: 0 auto !important;
  }
  .blokbook .customerorder form .row .col-md-4 {
    padding-top: 40px !important;
  }
  .blokbook .customerorder form .row .col-md-4 .dropdown {
    background: transparent !important;
  }
  .blokbook .customerorder form .row .col-md-4 .dropdown .dropdown-toggle {
    width: 176px !important;
    background: transparent !important;
  }
  .blokbook .customerorder form .dropdown-menu .dropdown-item {
    background: transparent !important;
  }
  .blokbook .customerorder form .col-md-12 {
    padding-top: 40px !important;
  }
  .blokbook .customerorder form input {
    background-color: transparent !important;
    color: #e8e8e8 !important;
    width: 176px !important;
    border: 1px solid #c6c6c5 !important;
    border-radius: 3px 3px !important;
    text-align: center !important;
  }
  .fonsushimage {
    position: relative;
    bottom: 700px;
    height: 1000px !important;
    background: url("../images/contentsushfon-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .menu-2 {
    position: relative;
    bottom: 705px !important;
  }
  .menu-2 h2 {
    color: #afc67b !important;
  }
  .cardsush {
    position: relative;
    bottom: 1420px !important;
  }
  .cardsush .col-md .card {
    border: 0.4px solid transparent !important;
  }
  .cardsush .col-md .card .card-body h6 {
    font-size: 14px !important;
  }
  .cardsush .col-md .card .card-body b {
    text-align: left !important;
  }
  .cardsush .col-md .card .card-body a {
    text-decoration: none !important;
    border-bottom: 7px solid #afc67b;
    font-size: 14px;
    font-family: Montserrat-bold;
    color: #555555;
  }
  .cardsush .col-md .card:hover {
    background: #7e8c7d;
    -webkit-transition: 0.85s !important;
    transition: 0.85s !important;
  }
  .cardsush .col-md a:hover {
    border-bottom: 7px solid #3b694c !important;
    -webkit-transition: 0.94s !important;
    transition: 0.94s !important;
    color: #e1e3e2 !important;
  }
  .footer {
    height: 0% !important;
  }
  .footer .footertitle {
    position: relative;
    bottom: 1220px !important;
    height: 800px !important;
  }
  .footer .footertitle .col-md-12 {
    max-width: 1500px !important;
    margin: 0 auto !important;
    padding-top: 100px !important;
    text-align: center !important;
    background-color: #212121;
    height: 800px !important;
  }
  .footer .footertitle .col-md-12 p {
    font-family: Montserrat-regular;
    font-size: 18.75px;
    color: #aac078;
  }
  .footer .footertitle .col-md-12 h3 {
    font-size: 29.17px;
    color: #aac078;
    font-family: gooddogcool;
  }
  .socialfooter {
    text-align: center !important;
    position: relative;
    bottom: 1670px !important;
  }
  .footerabout {
    position: relative;
    bottom: 1270px !important;
    background-color: #33362f;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .footerabout .col-md-4 {
    margin-left: 10px !important;
    padding-top: 130px !important;
    padding-bottom: 130px !important;
  }
  .footerabout .col-md-4 h2 {
    color: #e7e7e7;
    font-family: Montserrat-bold;
    font-size: 25px;
  }
  .footerabout .col-md-4 p {
    font-size: 18.75px;
    color: #e7e7e7;
    font-family: Montserrat-regular;
  }
  .footerabout .col-md-2 {
    margin-left: 10px !important;
    padding-top: 130px !important;
    padding-bottom: 130px !important;
  }
  .footerabout .col-md-2 h2 {
    color: #e7e7e7;
    font-family: Montserrat-bold;
    font-size: 20.83px;
  }
  .footerabout .col-md-2 h3 {
    font-size: 18.75px;
    color: #e7e7e7;
    font-family: Montserrat-bold;
  }
}
@media screen and (min-width: 561px) and (max-width: 768px) {
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  body {
    width: 100% !important;
    margin: 0 auto !important;
    overflow-x: hidden !important;
    position: relative;
  }
  .container-fluid {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding: 0px !important;
  }
  .container-fluid a {
    outline: none !important;
  }
  .container-fluid .container {
    max-width: 1500px;
    height: 3000px !important;
    margin: 0 auto;
    position: relative;
    padding: 0px !important;
    background-color: #212121;
  }
  .container .header {
    height: 850px;
    margin: 0 auto !important;
    background-image: url("../images/headersushfon.jpg");
    background-size: 100% 88.27%;
    background-repeat: no-repeat;
    position: fixed !important;
    width: 100%;
    max-width: inherit;
  }
  .menu {
    position: relative;
    min-height: 40px;
  }
  .menu ul {
    width: 180px;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #0b2e1f !important;
    opacity: 0.9 !important;
  }
  .menu ul li {
    display: none;
    margin: 0;
    -webkit-transition: 1s !important;
    transition: 1s !important;
  }
  .menu ul .current {
    display: block;
  }
  .menu a {
    display: block;
    -webkit-transition: 0s !important;
    transition: 0s !important;
    text-align: right !important;
    background: transparent !important;
    outline: none !important;
    font-size: 18px !important;
    font-weight: 900;
  }
  .menu a img {
    display: inline-block !important;
    border: 5px solid #000000 !important;
    border-radius: 100% 100% !important;
    padding: 3px !important;
    background: #ff8826 !important;
    position: relative;
    right: 10px;
    top: -2px;
  }
  .menu a img:hover {
    -webkit-transition: 0.45s !important;
    transition: 0.45s !important;
    background: #ff6363 !important;
    border: 5px solid #000000 !important;
    border-radius: 100% 100% !important;
    padding: 3px !important;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .menu a .menu .current a {
    background: none;
    color: red;
  }
  .menu ul:hover {
    background: none;
  }
  .menu ul:hover li {
    display: block;
    margin: 0 0 5px;
    -webkit-transition: 0.85s !important;
    transition: 0.85s !important;
  }
  .logo .col-md-5 {
    position: relative;
    right: 190px !important;
  }
  .logo .col-md-5 a img {
    position: relative;
    top: 0px !important;
    left: 79px !important;
  }
  .logo .col-md-5 h2 {
    position: relative;
    left: 60px !important;
    font-size: 30.8px;
    font-family: Montserrat-regular;
    color: #90a16b;
  }
  .logo .col-md-5 h1 {
    position: relative;
    left: 60px !important;
    font-size: 78.25px;
    font-family: Montserrat-bold;
    color: #90a16b;
  }
  .logo .col-md-5 h3 {
    margin-left: 63px !important;
    text-align: left !important;
  }
  .logo .col-md-5 h3 a {
    font-size: 49.17px;
    font-family: Montserrat-regular;
    color: #afc67b;
    outline: none !important;
    text-decoration: none !important;
    border: 1px solid transparent;
    background: #494e3e;
    opacity: 0.6;
  }
  .header {
    width: 100%;
    height: auto;
    padding: 0px !important;
    background-repeat: no-repeat;
    overflow-x: hidden !important;
  }
  .header .row {
    position: relative;
    left: 170px !important;
  }
  .main {
    max-width: 1500px !important;
    height: auto;
  }
  .main .newopening {
    text-align: center !important;
    margin: 0 auto !important;
    position: relative;
    top: 746px;
    height: 500px !important;
    background-size: 40% !important;
    background: url("../images/transparentleaves-3.png");
    background-position: left 0px top 500px !important;
    background-repeat: repeat;
  }
  .main .newopening .arttextsush {
    margin-top: 120px !important;
  }
  .main .newopening .arttextsush h4 {
    color: #afc67b;
    font-size: 29.17px;
    font-family: gooddogcool;
  }
  .main .newopening .arttextsush p {
    font-size: 18.75px;
    color: #dfdfdf;
    font-family: Montserratlight;
  }
  .main .newopening .col-md-6 img {
    position: absolute;
    left: 0px !important;
  }
  .artsush {
    position: relative;
    top: 780px;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #45493b;
    padding-bottom: 52px !important;
    padding-top: 52px !important;
  }
  .artsush .col-md-4 {
    text-align: left !important;
    padding: 0px 90px!important;
  }
  .artsush .col-md-4 h5 {
    color: #e8e8e8;
    font-size: 25px;
    font-family: gooddogcool;
  }
  .artsush .col-md-4 p {
    color: #c6c6c5;
    font-size: 16.62px;
    font-family: Montserratlight;
    line-height: 18px !important;
  }
  .toyouplate {
    position: relative;
    top: 860px !important;
    background-size: 40% !important;
    background: url("../images/transparentleaves-3.png");
    background-position: left 0px top 750px !important;
    background-repeat: repeat;
  }
  .toyouplate .row .title {
    background-color: #45493b;
  }
  .toyouplate .row .title h1 {
    text-align: center !important;
    font-size: 41.87px;
    color: #e8e8e8;
    font-family: Montserratlight;
  }
  .toyouplate .row .title h3 {
    text-align: center !important;
    font-size: 45.56px;
    font-family: gooddogcool;
    color: #afc67b;
  }
  .toyouplate .row .col-md-2 {
    text-align: center !important;
    padding: 0 !important;
  }
  .toyouplate .row .toyouplatetext {
    margin-top: 40px !important;
  }
  .toyouplate .blockfoncolor {
    background-color: #45493b;
    line-height: 25px !important;
  }
  .toyouplate .blockfoncolor h6 {
    color: #afc67b;
    font-family: gooddogcool;
    font-size: 29.17px;
  }
  .toyouplate .blockfoncolor p {
    color: #b2b3b0;
    font-size: 16.67px;
    font-family: MyriadProRegular;
  }
  .toyouplate .blockfoncolor b {
    font-family: gooddogcool;
    font-size: 25px;
    color: #e8e8e8;
    font-weight: 300;
  }
  .toyouplate .col-md-2 img:hover {
    background: green;
    opacity: 0.3 !important;
  }
  .thingssimle {
    position: relative;
    top: 945px !important;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #3e4136 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .thingssimle .col-4 {
    text-align: center !important;
    background-size: 65% !important;
    background: url("../images/transparentleaves-4.png");
    background-position: left 90px bottom 30px !important;
    background-repeat: repeat;
  }
  .thingssimle .col-4 h4 {
    font-size: 41.71px;
    font-family: gooddogcool;
    color: #afc67b;
  }
  .thingssimle .col-4 p {
    font-size: 20.85px;
    font-family: MyriadProRegular;
    color: #dcdcdb;
  }
  .thingssimle .row {
    background-size: 70% !important;
    background: url("../images/transparentleaves-4.png");
    background-position: left 0px top 500px !important;
    background-repeat: repeat;
  }
  .fondiscover {
    height: 1550px;
    margin: 0 auto !important;
    width: 100% !important;
    background-image: url("../images/contentsushfon-1.jpg");
    background-size: 100%  100%;
    background-repeat: no-repeat;
    position: relative !important;
    top: 945px !important;
  }
  .ournewmenu {
    height: 1000px !important;
    width: 100% !important;
    margin: 0 auto !important;
    position: relative;
    bottom: 400px !important;
    background-color: #3e4136;
    margin-bottom: -130px !important;
  }
  .ournewmenu .col-4 h2 {
    font-size: 70.83px;
    color: #e5e5e5;
    font-family: gooddogcool;
    text-align: center !important;
  }
  .ournewmenu .col-4 h1 {
    color: #e5e5e5;
    font-size: 45.83px;
    font-family: Montserrat-regular;
    text-align: center !important;
  }
  .foodmenu {
    padding-top: 80px !important;
  }
  .foodmenu .col {
    text-align: left !important;
    margin: 0 90px !important;
    position: relative;
    bottom: 1220px !important;
  }
  .foodmenu .col a img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipV;
            filter: FlipV;
    -webkit-transition: 0.94s !important;
    transition: 0.94s !important;
    opacity: 0.17 !important;
  }
  .foodmenu .col h6 {
    color: #e5e5e5;
    font-size: 25px;
    font-family: gooddogcool;
  }
  .foodmenu .col p {
    color: #e5e5e5;
    font-size: 16px;
    font-family: Montserratlight;
  }
  .foodmenu .col p b {
    color: #242424;
    font-size: 26px;
    font-family: gooddogcool;
  }
  .foodmenu .col img {
    float: left !important;
    margin-right: 20px !important;
  }
  .blokbook {
    text-align: center !important;
    background: #212121 !important;
    height: 570px !important;
    position: relative;
    bottom: 1060px !important;
  }
  .blokbook .customerorder {
    position: relative;
    bottom: -10px !important;
  }
  .blokbook .customerorder form {
    margin: 0 auto !important;
  }
  .blokbook .customerorder form .row .col-md-4 {
    padding-top: 40px !important;
  }
  .blokbook .customerorder form .row .col-md-4 .dropdown {
    background: transparent !important;
  }
  .blokbook .customerorder form .row .col-md-4 .dropdown .dropdown-toggle {
    width: 176px !important;
    background: transparent !important;
  }
  .blokbook .customerorder form .dropdown-menu .dropdown-item {
    background: transparent !important;
  }
  .blokbook .customerorder form .col-md-12 {
    padding-top: 40px !important;
  }
  .blokbook .customerorder form input {
    background-color: transparent !important;
    color: #e8e8e8 !important;
    width: 176px !important;
    text-align: center !important;
    border: 1px solid #c6c6c5 !important;
    border-radius: 3px 3px !important;
  }
  .fonsushimage {
    position: relative;
    bottom: 1100px;
    height: 1000px !important;
    background: url("../images/contentsushfon-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .menu-2 {
    position: relative;
    bottom: 1105px !important;
  }
  .menu-2 h2 {
    color: #afc67b !important;
  }
  .cardsush {
    position: relative;
    bottom: 1690px !important;
  }
  .cardsush .col-md .card {
    border: 0.14px solid transparent !important;
  }
  .cardsush .col-md .card .card-body b {
    text-align: left !important;
  }
  .cardsush .col-md .card .card-body a {
    text-decoration: none !important;
    border-bottom: 7px solid #afc67b;
    font-size: 14px;
    font-family: Montserrat-bold;
    color: #555555;
  }
  .cardsush .col-md .card:hover {
    background: #7e8c7d;
    -webkit-transition: 0.85s !important;
    transition: 0.85s !important;
  }
  .cardsush .col-md a:hover {
    border-bottom: 7px solid #3b694c !important;
    -webkit-transition: 0.94s !important;
    transition: 0.94s !important;
    color: #e1e3e2 !important;
  }
  .footer {
    height: 0% !important;
  }
  .footer .footertitle {
    position: relative;
    bottom: 1427px !important;
    height: 800px !important;
  }
  .footer .footertitle .col-md-12 {
    max-width: 1500px !important;
    margin: 0 auto !important;
    padding-top: 100px !important;
    text-align: center !important;
    background-color: #212121;
    height: 800px !important;
  }
  .footer .footertitle .col-md-12 p {
    font-family: Montserrat-regular;
    font-size: 18.75px;
    color: #aac078;
  }
  .footer .footertitle .col-md-12 h3 {
    font-size: 29.17px;
    color: #aac078;
    font-family: gooddogcool;
  }
  .socialfooter {
    text-align: center !important;
    position: relative;
    bottom: 1670px !important;
  }
  .footerabout {
    position: relative;
    bottom: 1476px !important;
    background-color: #33362f;
    width: 105% !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
  .footerabout .col-md-4 {
    margin-left: 10px !important;
    padding-top: 130px !important;
    padding-bottom: 130px !important;
  }
  .footerabout .col-md-4 h2 {
    color: #e7e7e7;
    font-family: Montserrat-bold;
    font-size: 25px;
  }
  .footerabout .col-md-4 p {
    font-size: 18.75px;
    color: #e7e7e7;
    font-family: Montserrat-regular;
  }
  .footerabout .col-md-2 {
    margin-left: 10px !important;
    padding-top: 130px !important;
    padding-bottom: 130px !important;
  }
  .footerabout .col-md-2 h2 {
    color: #e7e7e7;
    font-family: Montserrat-bold;
    font-size: 20.83px;
  }
  .footerabout .col-md-2 h3 {
    font-size: 18.75px;
    color: #e7e7e7;
    font-family: Montserrat-bold;
  }
}
@media screen and (max-width: 560px) {
  body {
    width: 100% !important;
    margin: 0 auto !important;
    overflow-x: hidden !important;
    position: relative;
  }
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  a {
    outline: none !important;
  }
  .container-fluid {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding: 0px !important;
  }
  .container-fluid .container {
    max-width: 1500px;
    height: 3000px !important;
    margin: 0 auto;
    position: relative;
    padding: 0px !important;
    background-color: #212121;
  }
  .container .header {
    height: 850px;
    margin: 0 auto !important;
    background-image: url("../images/headersushfon.jpg");
    background-size: 100% 88.27%;
    background-repeat: no-repeat;
    position: fixed !important;
    width: 100%;
    max-width: inherit;
    overflow-x: hidden !important;
  }
  .menu {
    position: relative;
    min-height: 40px;
    z-index: 3 !important;
  }
  .menu ul {
    width: 180px;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
  }
  .menu ul li {
    display: none;
    margin: 0;
    -webkit-transition: 1s !important;
    transition: 1s !important;
  }
  .menu ul .current {
    display: block;
  }
  .menu a {
    display: block;
    -webkit-transition: 0s !important;
    transition: 0s !important;
    text-align: right !important;
    background: transparent !important;
    outline: none !important;
    font-size: 18px !important;
    font-weight: 900;
  }
  .menu a img {
    display: inline-block !important;
    border: 5px solid #000000 !important;
    border-radius: 100% 100% !important;
    padding: 3px !important;
    background: #ff8826 !important;
    position: relative;
    right: 10px;
    top: -2px;
  }
  .menu a img:hover {
    -webkit-transition: 0.45s !important;
    transition: 0.45s !important;
    background: #ff6363 !important;
    border: 5px solid #000000 !important;
    border-radius: 100% 100% !important;
    padding: 3px !important;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .menu a .menu .current a {
    background: none;
    color: red;
  }
  .menu ul:hover {
    background: none;
  }
  .menu ul:hover li {
    display: block;
    margin: 0 0 5px;
    -webkit-transition: 0.85s !important;
    transition: 0.85s !important;
  }
  .logo .col-md-5 {
    position: relative;
    right: 140px !important;
  }
  .logo .col-md-5 a img {
    position: relative;
    top: 30px !important;
    left: 140px !important;
  }
  .logo .col-md-5 h2 {
    position: relative;
    left: 60px !important;
    font-size: 30.8px;
    font-family: Montserrat-regular;
    color: #90a16b;
  }
  .logo .col-md-5 h1 {
    position: relative;
    left: 60px !important;
    font-size: 78.25px;
    font-family: Montserrat-bold;
    color: #90a16b;
  }
  .logo .col-md-5 h3 a {
    font-size: 49.17px;
    font-family: Montserrat-regular;
    color: #afc67b;
    outline: none !important;
    text-decoration: none !important;
    border: 1px solid transparent;
    padding: 5px !important;
    background: #494e3e;
    opacity: 0.6;
  }
  .header {
    width: 100%;
    height: auto;
    padding: 0px !important;
    background-repeat: no-repeat;
  }
  .header .row {
    position: relative;
    left: 170px !important;
  }
  .main {
    max-width: 1500px !important;
    height: auto;
  }
  .main .newopening {
    text-align: center !important;
    margin: 0 auto !important;
    position: relative;
    top: 580px;
    height: 500px !important;
    background-size: 40% !important;
    background: url("../images/transparentleaves-3.png");
    background-position: left 0px top 500px !important;
    background-repeat: repeat;
  }
  .main .newopening .arttextsush {
    margin-top: 120px !important;
  }
  .main .newopening .arttextsush h4 {
    color: #afc67b;
    font-size: 29.17px;
    font-family: gooddogcool;
  }
  .main .newopening .arttextsush p {
    font-size: 18.75px;
    color: #dfdfdf;
    font-family: Montserratlight;
  }
  .main .newopening .col-md-6 img {
    position: absolute;
    left: 0px !important;
  }
  .artsush {
    position: relative;
    top: 780px;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #45493b;
    padding-bottom: 52px !important;
    padding-top: 52px !important;
  }
  .artsush .col-md-4 {
    text-align: left !important;
    padding: 0px 90px!important;
  }
  .artsush .col-md-4 h5 {
    color: #e8e8e8;
    font-size: 25px;
    font-family: gooddogcool;
  }
  .artsush .col-md-4 p {
    color: #c6c6c5;
    font-size: 16.62px;
    font-family: Montserratlight;
    line-height: 18px !important;
  }
  .toyouplate {
    position: relative;
    top: 860px !important;
    background-size: 40% !important;
    background: url("../images/transparentleaves-3.png");
    background-position: left 0px top 750px !important;
    background-repeat: repeat;
  }
  .toyouplate .row .title {
    background-color: #45493b;
  }
  .toyouplate .row .title h1 {
    text-align: center !important;
    font-size: 41.87px;
    color: #e8e8e8;
    font-family: Montserratlight;
  }
  .toyouplate .row .title h3 {
    text-align: center !important;
    font-size: 45.56px;
    font-family: gooddogcool;
    color: #afc67b;
  }
  .toyouplate .row .col-md-2 {
    text-align: center !important;
    padding: 0 !important;
  }
  .toyouplate .row .toyouplatetext {
    margin-top: 40px !important;
  }
  .toyouplate .blockfoncolor {
    background-color: #45493b;
    line-height: 25px !important;
  }
  .toyouplate .blockfoncolor h6 {
    color: #afc67b;
    font-family: gooddogcool;
    font-size: 29.17px;
  }
  .toyouplate .blockfoncolor p {
    color: #b2b3b0;
    font-size: 16.67px;
    font-family: MyriadProRegular;
  }
  .toyouplate .blockfoncolor b {
    font-family: gooddogcool;
    font-size: 25px;
    color: #e8e8e8;
    font-weight: 300;
  }
  .toyouplate .col-md-2 img:hover {
    background: green;
    opacity: 0.3 !important;
  }
  .thingssimle {
    position: relative;
    top: 945px !important;
    width: 100% !important;
    margin: 0 auto !important;
    background-color: #3e4136 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .thingssimle .col-8 {
    text-align: center !important;
    background-size: 65% !important;
    background: url("../images/transparentleaves-4.png");
    background-position: left 90px bottom 30px !important;
    background-repeat: repeat;
  }
  .thingssimle .col-8 h4 {
    font-size: 41.71px;
    font-family: gooddogcool;
    color: #afc67b;
  }
  .thingssimle .col-8 p {
    font-size: 20.85px;
    font-family: MyriadProRegular;
    color: #dcdcdb;
  }
  .thingssimle .row {
    background-size: 70% !important;
    background: url("../images/transparentleaves-4.png");
    background-position: left 0px top 500px !important;
    background-repeat: repeat;
  }
  .fondiscover {
    height: 1000px;
    margin: 0 auto !important;
    width: 100% !important;
    background-image: url("../images/contentsushfon-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative !important;
    top: 945px !important;
  }
  .ournewmenu {
    height: 2298px !important;
    width: 100% !important;
    margin: 0 auto !important;
    position: relative;
    top: 220px !important;
    background-color: #3e4136;
    margin-bottom: 100px !important;
  }
  .ournewmenu .col-4 h2 {
    font-size: 70.83px;
    color: #e5e5e5;
    font-family: gooddogcool;
    text-align: center !important;
  }
  .ournewmenu .col-4 h1 {
    color: #e5e5e5;
    font-size: 45.83px;
    font-family: Montserrat-regular;
    text-align: center !important;
  }
  .foodmenu {
    padding-top: 80px !important;
  }
  .foodmenu .col {
    text-align: left !important;
    margin: 0 90px !important;
    position: relative;
    bottom: 1980px !important;
  }
  .foodmenu .col a img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipV;
            filter: FlipV;
    -webkit-transition: 0.94s !important;
    transition: 0.94s !important;
    opacity: 0.17 !important;
  }
  .foodmenu .col h6 {
    color: #e5e5e5;
    font-size: 25px;
    font-family: gooddogcool;
  }
  .foodmenu .col p {
    color: #e5e5e5;
    font-size: 16px;
    font-family: Montserratlight;
  }
  .foodmenu .col p b {
    color: #242424;
    font-size: 26px;
    font-family: gooddogcool;
  }
  .foodmenu .col img {
    float: left !important;
    margin-right: 20px !important;
  }
  .blokbook {
    text-align: center !important;
    background: #212121 !important;
    height: 570px !important;
    position: relative;
    bottom: 1660px !important;
  }
  .blokbook .customerorder {
    position: relative;
    top: -10px !important;
  }
  .blokbook .customerorder form {
    margin: 0 auto !important;
  }
  .blokbook .customerorder form .row .col-md-4 {
    padding-top: 40px !important;
  }
  .blokbook .customerorder form .row .col-md-4 .dropdown {
    background: transparent !important;
  }
  .blokbook .customerorder form .row .col-md-4 .dropdown .dropdown-toggle {
    width: 176px !important;
    background: transparent !important;
  }
  .blokbook .customerorder form .dropdown-menu .dropdown-item {
    background: transparent !important;
  }
  .blokbook .customerorder form .col-md-12 {
    padding-top: 40px !important;
  }
  .blokbook .customerorder form input {
    background-color: transparent !important;
    color: #e8e8e8 !important;
    width: 176px !important;
    border: 1px solid #c6c6c5 !important;
    border-radius: 3px 3px !important;
    text-align: center !important;
  }
  .fonsushimage {
    position: relative;
    bottom: 1660px;
    height: 1000px !important;
    background: url("../images/contentsushfon-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .menu-2 {
    position: relative;
    bottom: 1585px !important;
  }
  .menu-2 h2 {
    color: #afc67b !important;
  }
  .cardsush {
    position: relative;
    bottom: 1790px !important;
  }
  .cardsush .col-md .card {
    border: 1.5px solid transparent;
    margin-bottom: 40px !important;
  }
  .cardsush .col-md .card .card-body b {
    text-align: left !important;
  }
  .cardsush .col-md .card .card-body a {
    text-decoration: none !important;
    border-bottom: 7px solid #afc67b;
    font-size: 14px;
    font-family: Montserrat-bold;
    color: #555555;
  }
  .cardsush .col-md .card:hover {
    background: #7e8c7d;
    -webkit-transition: 0.85s !important;
    transition: 0.85s !important;
  }
  .cardsush .col-md a:hover {
    border-bottom: 7px solid #3b694c !important;
    -webkit-transition: 0.94s !important;
    transition: 0.94s !important;
    color: #e1e3e2 !important;
  }
  .footer {
    height: 0% !important;
  }
  .footer .footertitle {
    position: relative;
    bottom: 1770px !important;
    height: 800px !important;
  }
  .footer .footertitle .col-md-12 {
    max-width: 1500px !important;
    margin: 0 auto !important;
    padding-top: 100px !important;
    text-align: center !important;
    background-color: #212121;
    height: 800px !important;
  }
  .footer .footertitle .col-md-12 p {
    font-family: Montserrat-regular;
    font-size: 18.75px;
    color: #aac078;
  }
  .footer .footertitle .col-md-12 h3 {
    font-size: 29.17px;
    color: #aac078;
    font-family: gooddogcool;
  }
  .socialfooter {
    text-align: center !important;
    position: relative;
    bottom: 2170px !important;
  }
  .footerabout {
    position: relative;
    bottom: 1820px !important;
    background-color: #33362f;
    width: 100% !important;
    margin: 0 auto !important;
  }
  .footerabout .col-md-4 {
    margin-left: 10px !important;
    padding-top: 130px !important;
    padding-bottom: 130px !important;
  }
  .footerabout .col-md-4 h2 {
    color: #e7e7e7;
    font-family: Montserrat-bold;
    font-size: 25px;
  }
  .footerabout .col-md-4 p {
    font-size: 18.75px;
    color: #e7e7e7;
    font-family: Montserrat-regular;
  }
  .footerabout .col-md-2 {
    margin-left: 10px !important;
    padding-top: 130px !important;
    padding-bottom: 130px !important;
  }
  .footerabout .col-md-2 h2 {
    color: #e7e7e7;
    font-family: Montserrat-bold;
    font-size: 20.83px;
  }
  .footerabout .col-md-2 h3 {
    font-size: 18.75px;
    color: #e7e7e7;
    font-family: Montserrat-bold;
  }
}
